/* Tailwind v4 setup */
@import "tailwindcss";
/* @tailwind utilities; */

@theme {
  --color-darkRed: #780000;
  --color-red: #c1121f;
  --color-cream: #f2f4ff;
  --color-navy: #003049;
  --color-blue: #669bbc;
}

/* Force light mode */
:root {
  --background: #f2f4ff;
  --foreground: #003049;

  color-scheme: light;
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
